#logo1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: #ffff;
}

footer {
    width: 100%;
    background-color: #030820;
    display: flex;
    flex-direction: row;
    /* gap: 30px; */
}
footer ul li:nth-child(1) {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}
footer ul li {
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    transition: padding-left 0.9s ease-out; /* You can adjust the duration and timing function */
}
footer div {
    color: white;
    width: calc(100%/4);
    height: 470px;
    /* background-color: aqua; */
    padding: 50px;
}

footer ul li:hover:not(:nth-child(1)) {
    padding-left: 20px;
    color: #09CC7F;
    transition: padding-left 0.3s ease-in; 
}